{% extends "base.html" %}

{% block content %}
<div class="flex justify-center items-center text-center h-screen">
    <div>
        <h1 class="font-bold text-2xl">
        Cooking forum
        </h1>
        <h2 class="font-base text-lg max-w-4xl">
        This is a placeholder to represent to cooking forum.
        Considering this is a microservice, it shouldn't have any other behavior except the one it is intended for, which is to present a set of api to interact with the cooking forum.
        The cooking forum should be implemented in a different microservice, that communicates with this one, via the api that this microservice exposes.
        </h2>
    </div>
</div>
{% endblock %}